@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  min-height: 100vh;
  background-image: url('/bg.jpg');
  background-size:cover;
}



@media (min-width:640px) {
  body{
    margin:0;
  }
  .video-card{
    max-width:610px;
    max-height:530px;
  }
}

@media (max-width:400px) {
  .small-video-mobile{
    max-width: 80px;
  }
}